<div class="row">
    <div class="col-4 mx-auto">
        <div class="card">
            <div class="card-header text-center h5">
                Registro
            </div>
            <div class="card-body">
                <form (submit)="Registrar()">
                    <div class="mb-3">
                        <input [(ngModel)]="usuario.nombre" class="form-control" type="text" name="nombre" id="" placeholder="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <input [(ngModel)]="usuario.nick" class="form-control" type="text" name="nick" id="" placeholder="Usuario" required>
                    </div>
                    <div class="mb-3">
                        <input [(ngModel)]="usuario.correo" class="form-control" type="email" name="correo" id="" placeholder="Correo" required>
                    </div>
                    <div class="mb-3">
                        <input [(ngModel)]="usuario.contra" class="form-control" type="password" name="contra" id="" placeholder="Contraseña" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary btn-block" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>