.btn-juguel{
    background-color: #FC9E49;
    border: 1px solid #ea872e;
    color:#FFF;
}
.btn-juguel:focus{
    border-color: #ea872e;
    box-shadow: 0 0 0 0.2rem rgba(252, 158, 73, 0.25);
}
.border-juguel:focus{
    border-color: #ea872e;
    box-shadow: 0 0 0 0.2rem rgba(252, 158, 73, 0.25);
}
.bg-juguel:checked{
    background-color: #FC9E49;
}