<div class="container-fluid">
    <h4>{{ data.tituloVentana }}</h4>
    
    <form class="row g-3">
        <div class="col-12">
            <input [(ngModel)]="pagoActivo._id" class="form-control" type="hidden" name="_id" id="identificador" />
            <!-- <label for="txtID" class="form-label">No. Remisión</label>
            <input [(ngModel)]="pagoActivo.id" class="form-control" type="text" name="id" id="txtID" /> -->
        </div>
        <div class="col-12">
            <label for="txtConcepto" class="form-label">Método de pago</label>
            <select [(ngModel)]="pagoActivo.metodoPago" name="metodoPago" id="" class="form-select">
                <option value="" selected>Seleccione un método de pago</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Cheque">Cheque</option>
            </select>
        </div>
        <div class="col-12">
            <label for="nTotal" class="form-label">Importe</label>
            <input [(ngModel)]="pagoActivo.monto" class="form-control" type="number" name="monto" id="nTotal"/>
        </div>
        
        <div class="col-12 d-flex justify-content-end">
            <button (click)="CrearPago()" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>