<div class="row">
    <div class="col-10">
        <h1>Propiedades</h1>
        <div class="btn-group  mb-2 mt-4" role="group" aria-label="Basic radio toggle button group">
            <input (click)="GetDisponibles()" type="radio" class="btn-check" name="radEstadoProp" id="radDisponible" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="radDisponible">Disponibles</label>
            <input (click)="GetRentadas()" type="radio" class="btn-check" name="radEstadoProp" id="radRentada" autocomplete="off">
            <label class="btn btn-outline-primary" for="radRentada">Rentadas</label>
        </div>
    </div>
    <div class="col-2">
        <button (click)="NuevaPropiedad()" class="btn btn btn-primary btn-block" role="button">Agregar propiedad</button>
    </div>
</div>
<div class="row">
    <div class="col border" style="background-color: white;">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Predial</th>
                <th scope="col">Estatus</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prop of propiedades">
                <td>{{ prop.predial }}</td>
                <td>{{ prop.estadoRenta }}</td>
                <td>{{ prop.direccion.ciudad }}, {{ prop.direccion.estado }}</td>
                <td>
                    <button (click)="VerPropiedad(prop._id)" class="btn btn-info btn-sm"><fa-icon [icon]="faEye"></fa-icon></button>
                    <!-- <button class="btn btn-success btn-sm mx-2" title="Crear contrato"><fa-icon [icon]="faMoneyBillAlt"></fa-icon></button> -->
                    <button (click)="EliminarPropiedad(prop._id)" class="btn btn-danger btn-sm mx-2"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>